/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==              BASE                 ===================================================================================================================================
==              MIXIN                ===================================================================================================================================
==             WIDGETS               ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

.base-code() {
	font-family: @font-monospace;
	.border-radius(4px);
	border:1px solid rgba(0,0,0,.015);
	background-color: rgba(0,0,0,.075);
}
.base-mark(@background-color:rgb(255,255,0)) {
	color:inherit;
	background-color:@background-color;
	.box-shadow(0 0 1px rgba(0, 0, 0, 0.35), inset 0 0 2px rgba(255, 255, 255, 0.75););
}


/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==             SECTIONS              ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

/*
SMACSS - Base Rules
http://smacss.com/book/type-base
*/

body {
	margin:0;
	padding:0;
	font-family: @font-default;
}

article,
nav,
aside,
section,
header,
footer,
h1, h2, h3, h4, h5, h6
hgroup,
address {
	.wrap;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-family: @font-heading;
}

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==             GROUPING              ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

p,
hr,
pre,
blockquote,
ol,
ul,
li,
dl, dt, dd,
figure,
figcaption,
div {
	.wrap;
	margin:0;
	padding:0;
}

ul {
	@padding:(@horizontal-padding + (@horizontal-padding/4));
	padding-left:@padding;
	padding-right:@padding;
	padding-bottom:@padding;
}

nav {
	ul {
		list-style-type: none;
		padding:0;
	}
}

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==              TABLES               ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
col,
colgroup {

}

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==               FORMS               ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

form,
fieldset,
legend,
label,
input,
button,
select,
datalist,
optgroup,
option,
textarea {

}

label { display: inline-block; .wrap; }

textarea,
button,
input[type="text"],
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="password"] {
	.wrap;
}

keygen,
output,
progress,
meter {

}

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==            INTERACTION            ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

details,
summary,
command,
menu {

}

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==              EMBEDS               ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

img { -ms-interpolation-mode: bicubic; }
a img { border:none; }

img,
iframe,
embed,
object,
param,
video,
audio,
source,
canvas,
track,
map,
area {

}

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==               TEXTS               ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

a {
	display: inline-block;
}

br {

}

a,
em,
strong,
i, b,
u,
s,
small,
abbr,
q,
cite,
dfn,
sub, sup,
del, ins,
time,
code,
kbd,
samp {
	
}

var {
	/*
	The var element represents a variable. This could be an actual variable in a mathematical expression or programming context, or it could just be a term used as a placeholder in prose.
	http://html5doctor.com/element-index/#var
	*/
	.base-code();
}

mark {
	/*
	Represents a run of text in one document marked or highlighted because of its relevance in another context.
	When used in a quotation or other block of text referenced in a document, it indicates a highlight that was not present in the original document — e.g., a portion of text in an academic publication that has recently come under additional scrutiny.
	*/
	.base-mark();
}

bdi {
	/*
	The bdi element represents a span of text that is to be isolated from its surroundings for the purposes of bidirectional text formatting.
	http://html5doctor.com/element-index/#bdi
	*/
}

bdo {
	/*
	The bdo element represents explicit text directionality formatting control for its children. It allows authors to override the Unicode bidirectional algorithm by explicitly specifying a direction override.
	http://html5doctor.com/element-index/#bdo
	*/
}

span {
	/*
	The span element doesn't mean anything on its own, but can be useful when used together with the global attributes, e.g. class, lang, or dir. It represents its children.
	http://html5doctor.com/element-index/#span
	*/
}

ruby, rt, rp {
	/*
	Represents a container for base text and ruby text — small annotations used for phonetic readings in languages such as Japanese and Chinese. Examples include furigana and zhùyin fúhào (bopomofo).
	http://html5doctor.com/element-index/#ruby
	*/
}

wbr {
	/*
	The wbr element represents a line break opportunity. Any content inside wbr elements must not be considered part of the surrounding text.
	http://html5doctor.com/element-index/#wbr
	*/
}





