/**
/**
*/

/**
HERE BEGINS YOUR CONFIGURATION
Frontsize default values to override, change them in the way you like
*/

@horizontal-padding:1em;
@vertical-padding:1em;

// set the margins
.enable-steps(); // .steps(200px, 100px, 50px, 0px);
.enable-steps-padding(@horizontal-padding @horizontal-padding);

// set font scaling to change the font size depending by different resolutions
.enable-font-families();
.enable-font-scaling(); // .font-scaling (@hd-full, @hd-ready, @tablet-landscape, @tablet-portrait, @smartphone-landscape);

// set different width for the smartphones, tablets and hd resolutions
@smartphone-portrait-step:	380px;	// smartphones portrait		420~380
@smartphone-landscape-step:	685px;	// smartphones landscape	480~568~685
@tablet-portrait-step:		768px;	// tabled portrait			
@tablet-landscape-step:		1024px;	// tabled landscape			
@hd-ready-step:				1280px;	// HD Ready					1280 (720p)
@hd-full-step:				1800px;	// Full HD					1920 (1080p)

/**
HERE ENDS YOUR CONFIGURATION
*/


/**
Frontsize overrides
*/

.enable-steps (@hd-full:200px, @hd-ready:100px, @tablet-landscape:50px, @tablet-portrait:0px) {
	@media only screen and (min-width : @tablet-portrait-step)		{ .with-steps { max-width:(@tablet-portrait-step - @tablet-portrait); }}
	@media only screen and (min-width : @tablet-landscape-step)		{ .with-steps { max-width:(@tablet-landscape-step - @tablet-landscape); }}
	@media only screen and (min-width : @hd-ready-step)				{ .with-steps { max-width:(@hd-ready-step - @hd-ready); }}
	@media only screen and (min-width : @hd-full-step)				{ .with-steps { max-width:(@hd-full-step - @hd-full); }}
}
.enable-steps-padding (@padding:1em) { .with-steps { padding:@padding; }}
.enable-font-families (@body:helvetica, @h:helvetica) {
	h1, h2, h3, h4, h5, h6 {
		font-family: @h, arial, sans-serif;
	}
	body {
		font-family: @body, arial, sans-serif;
	}
}
.enable-font-scaling (@hd-full:1.5em, @hd-ready:1.25em, @tablet-landscape:1em, @tablet-portrait:1em, @smartphone-landscape:1em, @smartphone-portrait:1em) {
	@media only screen and (min-width : @smartphone-portrait-step)	{ body { font-size:@smartphone-portrait; }}
	@media only screen and (min-width : @smartphone-landscape-step)	{ body { font-size:@smartphone-landscape; }}
	@media only screen and (min-width : @tablet-portrait-step)		{ body { font-size:@tablet-portrait; }}
	@media only screen and (min-width : @tablet-landscape-step)		{ body { font-size:@tablet-landscape; }}
	@media only screen and (min-width : @hd-ready-step)				{ body { font-size:@hd-ready; }}
	@media only screen and (min-width : @hd-full-step)				{ body { font-size:@hd-full; }}
}
.columns, .columns > * {
	padding-bottom:@vertical-padding;
}
.columns > *, .wide-all, .wide-1-on-16, .wide-2-on-16, .wide-3-on-16, .wide-4-on-16, .wide-5-on-16, .wide-6-on-16, .wide-7-on-16, .wide-8-on-16, .wide-9-on-16, .wide-10-on-16, .wide-11-on-16, .wide-12-on-16, .wide-13-on-16, .wide-14-on-16, .wide-15-on-16, .wide-16-on-16, .wide-1-on-12, .wide-2-on-12, .wide-3-on-12, .wide-4-on-12, .wide-5-on-12, .wide-6-on-12, .wide-7-on-12, .wide-8-on-12, .wide-9-on-12, .wide-10-on-12, .wide-11-on-12, .wide-12-on-12, .wide-1-on-10, .wide-2-on-10, .wide-3-on-10, .wide-4-on-10, .wide-5-on-10, .wide-6-on-10, .wide-7-on-10, .wide-8-on-10, .wide-9-on-10, .wide-10-on-10, .wide-1-on-8, .wide-2-on-8, .wide-3-on-8, .wide-4-on-8, .wide-5-on-8, .wide-6-on-8, .wide-7-on-8, .wide-8-on-8, .wide-1-on-6, .wide-2-on-6, .wide-3-on-6, .wide-4-on-6, .wide-5-on-6, .wide-6-on-6, .wide-1-on-5, .wide-2-on-5, .wide-3-on-5, .wide-4-on-5, .wide-5-on-5, .wide-1-on-4, .wide-2-on-4, .wide-3-on-4, .wide-4-on-4, .wide-1-on-3, .wide-2-on-3, .wide-3-on-3, .wide-1-on-2, .wide-2-on-2 { padding-left:@horizontal-padding; padding-right:@horizontal-padding; }

/*
Frontsize frontend framework
Sizing rules
*/

.contain-2  > * { .set-column-step(1,2); }
.contain-3  > * { .set-column-step(1,3); }
.contain-4  > * { .set-column-step(1,4); }
.contain-5  > * { .set-column-step(1,5); }
.contain-6  > * { .set-column-step(1,6); }
.contain-8  > * { .set-column-step(1,8); }
.contain-10 > * { .set-column-step(1,10); }
.contain-12 > * { .set-column-step(1,12); }
.contain-16 > * { .set-column-step(1,16); }

.columns >  *.wide-1-on-16,  .wide-1-on-16 { .set-column-step(1,16); }
.columns >  *.wide-2-on-16,  .wide-2-on-16 { .set-column-step(2,16); }
.columns >  *.wide-3-on-16,  .wide-3-on-16 { .set-column-step(3,16); }
.columns >  *.wide-4-on-16,  .wide-4-on-16 { .set-column-step(4,16); }
.columns >  *.wide-5-on-16,  .wide-5-on-16 { .set-column-step(5,16); }
.columns >  *.wide-6-on-16,  .wide-6-on-16 { .set-column-step(6,16); }
.columns >  *.wide-7-on-16,  .wide-7-on-16 { .set-column-step(7,16); }
.columns >  *.wide-8-on-16,  .wide-8-on-16 { .set-column-step(8,16); }
.columns >  *.wide-9-on-16,  .wide-9-on-16 { .set-column-step(9,16); }
.columns > *.wide-10-on-16, .wide-10-on-16 { .set-column-step(10,16);}
.columns > *.wide-11-on-16, .wide-11-on-16 { .set-column-step(11,16);}
.columns > *.wide-12-on-16, .wide-12-on-16 { .set-column-step(12,16);}
.columns > *.wide-13-on-16, .wide-13-on-16 { .set-column-step(13,16);}
.columns > *.wide-14-on-16, .wide-14-on-16 { .set-column-step(14,16);}
.columns > *.wide-15-on-16, .wide-15-on-16 { .set-column-step(15,16);}
.columns > *.wide-16-on-16, .wide-16-on-16 { .set-column-step(16,16);}

.columns >  *.wide-1-on-12,  .wide-1-on-12 { .set-column-step(1,12); }
.columns >  *.wide-2-on-12,  .wide-2-on-12 { .set-column-step(2,12); }
.columns >  *.wide-3-on-12,  .wide-3-on-12 { .set-column-step(3,12); }
.columns >  *.wide-4-on-12,  .wide-4-on-12 { .set-column-step(4,12); }
.columns >  *.wide-5-on-12,  .wide-5-on-12 { .set-column-step(5,12); }
.columns >  *.wide-6-on-12,  .wide-6-on-12 { .set-column-step(6,12); }
.columns >  *.wide-7-on-12,  .wide-7-on-12 { .set-column-step(7,12); }
.columns >  *.wide-8-on-12,  .wide-8-on-12 { .set-column-step(8,12); }
.columns >  *.wide-9-on-12,  .wide-9-on-12 { .set-column-step(9,12); }
.columns > *.wide-10-on-12, .wide-10-on-12 { .set-column-step(10,12);}
.columns > *.wide-11-on-12, .wide-11-on-12 { .set-column-step(11,12);}
.columns > *.wide-12-on-12, .wide-12-on-12 { .set-column-step(12,12);}

.columns >  *.wide-1-on-10,  .wide-1-on-10 { .set-column-step(1,10); }
.columns >  *.wide-2-on-10,  .wide-2-on-10 { .set-column-step(2,10); }
.columns >  *.wide-3-on-10,  .wide-3-on-10 { .set-column-step(3,10); }
.columns >  *.wide-4-on-10,  .wide-4-on-10 { .set-column-step(4,10); }
.columns >  *.wide-5-on-10,  .wide-5-on-10 { .set-column-step(5,10); }
.columns >  *.wide-6-on-10,  .wide-6-on-10 { .set-column-step(6,10); }
.columns >  *.wide-7-on-10,  .wide-7-on-10 { .set-column-step(7,10); }
.columns >  *.wide-8-on-10,  .wide-8-on-10 { .set-column-step(8,10); }
.columns >  *.wide-9-on-10,  .wide-9-on-10 { .set-column-step(9,10); }
.columns > *.wide-10-on-10, .wide-10-on-10 { .set-column-step(10,10);}

.columns > *.wide-1-on-8, .wide-1-on-8 { .set-column-step(1,8);}
.columns > *.wide-2-on-8, .wide-2-on-8 { .set-column-step(2,8);}
.columns > *.wide-3-on-8, .wide-3-on-8 { .set-column-step(3,8);}
.columns > *.wide-4-on-8, .wide-4-on-8 { .set-column-step(4,8);}
.columns > *.wide-5-on-8, .wide-5-on-8 { .set-column-step(5,8);}
.columns > *.wide-6-on-8, .wide-6-on-8 { .set-column-step(6,8);}
.columns > *.wide-7-on-8, .wide-7-on-8 { .set-column-step(7,8);}
.columns > *.wide-8-on-8, .wide-8-on-8 { .set-column-step(8,8);}

.columns > *.wide-1-on-6, .wide-1-on-6 { .set-column-step(1,6);}
.columns > *.wide-2-on-6, .wide-2-on-6 { .set-column-step(2,6);}
.columns > *.wide-3-on-6, .wide-3-on-6 { .set-column-step(3,6);}
.columns > *.wide-4-on-6, .wide-4-on-6 { .set-column-step(4,6);}
.columns > *.wide-5-on-6, .wide-5-on-6 { .set-column-step(5,6);}
.columns > *.wide-6-on-6, .wide-6-on-6 { .set-column-step(6,6);}

.columns > *.wide-1-on-5, .wide-1-on-5 { .set-column-step(1,5); }
.columns > *.wide-2-on-5, .wide-2-on-5 { .set-column-step(2,5); }
.columns > *.wide-3-on-5, .wide-3-on-5 { .set-column-step(3,5); }
.columns > *.wide-4-on-5, .wide-4-on-5 { .set-column-step(4,5); }
.columns > *.wide-5-on-5, .wide-5-on-5 { .set-column-step(5,5); }

.columns > *.wide-1-on-4, .wide-1-on-4 { .set-column-step(1,4); }
.columns > *.wide-2-on-4, .wide-2-on-4 { .set-column-step(2,4); }
.columns > *.wide-3-on-4, .wide-3-on-4 { .set-column-step(3,4); }
.columns > *.wide-4-on-4, .wide-4-on-4 { .set-column-step(4,4); }

.columns > *.wide-1-on-3, .wide-1-on-3 { .set-column-step(1,3);}
.columns > *.wide-2-on-3, .wide-2-on-3 { .set-column-step(2,3);}
.columns > *.wide-3-on-3, .wide-3-on-3 { .set-column-step(3,3);}

.columns > *.wide-1-on-2, .wide-1-on-2 { .set-column-step(1,2);}
.columns > *.wide-2-on-2, .wide-2-on-2 { .set-column-step(2,2);}

.contain-2  > *:nth-child(2n+1)  { clear:both; }
.contain-3  > *:nth-child(3n+1)  { clear:both; }
.contain-4  > *:nth-child(4n+1)  { clear:both; }
.contain-5  > *:nth-child(5n+1)  { clear:both; }
.contain-6  > *:nth-child(6n+1)  { clear:both; }
.contain-8  > *:nth-child(8n+1)  { clear:both; }
.contain-10 > *:nth-child(10n+1) { clear:both; }
.contain-12 > *:nth-child(12n+1) { clear:both; }
.contain-16 > *:nth-child(16n+1) { clear:both; }

.columns > *, .wide-all,
.wide-1-on-16, .wide-2-on-16, .wide-3-on-16, .wide-4-on-16, .wide-5-on-16, .wide-6-on-16, .wide-7-on-16, .wide-8-on-16, .wide-9-on-16, .wide-10-on-16, .wide-11-on-16, .wide-12-on-16, .wide-13-on-16, .wide-14-on-16, .wide-15-on-16, .wide-16-on-16,
.wide-1-on-12, .wide-2-on-12, .wide-3-on-12, .wide-4-on-12, .wide-5-on-12, .wide-6-on-12, .wide-7-on-12, .wide-8-on-12, .wide-9-on-12, .wide-10-on-12, .wide-11-on-12, .wide-12-on-12,
.wide-1-on-10, .wide-2-on-10, .wide-3-on-10, .wide-4-on-10, .wide-5-on-10, .wide-6-on-10, .wide-7-on-10, .wide-8-on-10, .wide-9-on-10, .wide-10-on-10,
.wide-1-on-8, .wide-2-on-8, .wide-3-on-8, .wide-4-on-8, .wide-5-on-8, .wide-6-on-8, .wide-7-on-8, .wide-8-on-8,
.wide-1-on-5, .wide-2-on-5, .wide-3-on-5, .wide-4-on-5, .wide-5-on-5,
.wide-1-on-4, .wide-2-on-4, .wide-3-on-4, .wide-4-on-4, 
.wide-1-on-3, .wide-2-on-3, .wide-3-on-3,
.wide-1-on-2, .wide-2-on-2 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.with-steps {
	margin: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.columns {
	width:100%;
	overflow: auto;
}
.wide-all	{ width:100%; }
.clear		{ clear:both; }

.set-columns (@columns) { width:(100%/@columns); }
.set-column-step (@step, @columns) { width:((100% * @step)/@columns); }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

/* almost full hd */
@media only screen and (max-width : @hd-full-step) {
	
}

/* hd ready */
@media only screen and (max-width : @hd-ready-step) {
	
}

/* tablets, landscape */
@media only screen and (max-width : @tablet-landscape-step) {
	
}

/* tablets, portrait */
@media only screen and (max-width : @tablet-portrait-step) {
	.contain-4 > * { .set-columns(3); }
	.contain-4 > *:nth-child(4n+1) { clear:none; }
	.contain-4 > *:nth-child(3n+1) { clear:both; }
}

/* smartphones, landscape 480~568~685 */
@media only screen and (max-width : @smartphone-landscape-step) {
	.contain-3 > * { .set-columns(2); }
	.contain-3 > *:nth-child(3n+1) { clear:none; }
	.contain-3 > *:nth-child(2n+1) { clear:both; }

	.contain-4 > * { .set-columns(2); }
	.contain-4 > *:nth-child(4n+1) { clear:none; }
	.contain-4 > *:nth-child(3n+1) { clear:none; }
	.contain-4 > *:nth-child(2n+1) { clear:both; }
}

/* smartphones, portrait 320~380 */
@media only screen and (max-width : @smartphone-portrait-step) {
	.contain-2  > * { width:100%; clear:both; }
	.contain-3  > * { width:100%; clear:both; }
	.contain-4  > * { width:100%; clear:both; }
	.contain-5  > * { width:100%; clear:both; }
	.contain-6  > * { width:100%; clear:both; }
	.contain-8  > * { width:100%; clear:both; }
	.contain-10 > * { width:100%; clear:both; }
	.contain-12 > * { width:100%; clear:both; }
	.contain-16 > * { width:100%; clear:both; }
}

/**
CSS normalization from Frontsize
*/
* {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
nav {
	ul {
		list-style-type: none;
	}
}