<section id="about" class="text-center">
    <h4 class="block-title padded">About</h4>
    <div class="row">
        <div class="hd-4-of-12 vertical-line">
            <div class="avatar"
                 data-retina="https://avatars1.githubusercontent.com/u/461484?v=2&s=144"
                 style="background-image:url(https://avatars1.githubusercontent.com/u/461484?v=2&s=72);"></div>
            <p class="margin-top">
                Frontsize is written in LESS<br>
                by <a class="link capitalize" href="http://vittoriovittori.com">Vittorio Vittori</a>
            </p>
            <div class="margin-vertical padding-bottom">
                <a class="social-button facebook" href="https://www.facebook.com/vittoriovittori" target="_blank"></a>
                <a class="social-button twitter" href="https://twitter.com/vttrx" target="_blank"></a>
                <a class="social-button google" href="https://plus.google.com/+VittorioVittori/posts" target="_blank"></a>
            </div>
        </div>
        <div class="hd-4-of-12 vertical-line">
            <a class="ideato-logo" href="http://ideato.it" target="_blank">
                <img class="margin-top" src="/img/theme/ideato-logo.svg">
            </a>
            <p class="margin-top">
                Frontsize is sponsored<br>
                by <a class="link lowercase" href="http://ideato.it" target="_blank">Ideato Srl</a>
            </p>
            <div class="margin-vertical padding-bottom">
                <a class="social-button facebook" href="https://www.facebook.com/ideato" target="_blank"></a>
                <a class="social-button twitter" href="https://twitter.com/ideato" target="_blank"></a>
                <a class="social-button google" href="https://plus.google.com/111877025218585762349/about" target="_blank"></a>
            </div>
        </div>
        <div class="hd-4-of-12">
            <div class="avatar"
                 data-retina="https://avatars2.githubusercontent.com/u/3356506?v=2&s=144"
                 style="background-image:url(https://avatars2.githubusercontent.com/u/3356506?v=2&s=72);"></div>
            <p class="margin-top">
                SASS conversion is written<br>
                by <a class="link capitalize" href="http://alessandrominoccheri.com" target="_blank">Alessandro Minoccheri</a>
            </p>
            <div class="margin-vertical padding-bottom">
                <a class="social-button facebook" href="https://www.facebook.com/alessandro.minoccheri.7" target="_blank"></a>
                <a class="social-button twitter" href="https://twitter.com/minompi" target="_blank"></a>
                <a class="social-button google" href="https://plus.google.com/+AlessandroMinoccheri/posts" target="_blank"></a>
            </div>
        </div>
    </div>
</section>
