<section>
    <h4 class="block-title padded text-center">Would you like to know more?</h4>
    <div class="row">
        <ul class="features hd-6-of-12 no-horizontal-padding vertical-line">
            <li>
                <div>
                    <strong class="block">HDTV readability</strong>
                    <p>There are mixins written to make text readable for TV distance.</p>
                </div>
                <div>
                    <div class="feature-icon"></div>
                </div>
            </li>
            <li>
                <div>
                    <strong class="block">Just CSS</strong>
                    <p>This is a pure totally flexible CSS generator front-end framework, you choose the JS libs.</p>
                </div>
                <div>
                    <div class="feature-icon"></div>
                </div>
            </li>
        </ul>
        <ul class="features hd-6-of-12 no-horizontal-padding">
            <li>
                <div>
                    <strong class="block">Widget modularity</strong>
                    <p>No more rule conflicts and best optimization on loading selection.</p>
                </div>
                <div>
                    <div class="feature-icon"></div>
                </div>
            </li>
            <li>
                <div>
                    <strong class="block">Theme ready</strong>
                    <p>Create beautiful themes with all the variants you need.</p>
                </div>
                <div>
                    <div class="feature-icon"></div>
                </div>
            </li>
        </ul>
    </div>
</section>
