<section id="features">
    <h4 class="block-title padded text-center">Main features</h4>
    <ul class="main-features">
        <li>
            <div>
                <strong class="block">Migration capable</strong>
                <p>You can totally <b>custom your grid rules</b> and override other frameworks to unleash<br>the extreme Frontsize flexibility.</p>
            </div>
            <div>
                <div class="feature-icon"></div>
            </div>
        </li>
        <li>
            <div>
                <strong class="block">CSS lint test proof</strong>
                <p>At the moment the only one front-end framework which passes <b>CSS lint tests</b>, to<br>let you do the best quality work.</p>
            </div>
            <div>
                <div class="feature-icon"></div>
            </div>
        </li>
        <li>
            <div>
                <strong class="block">Fallbacks</strong>
                <p>Do you need fallback compatibility? You can enable Frontsize features for IE,<br>
                    activate / deactivate browser prefixes, or use fallback compatibility mixins.</p>
            </div>
            <div>
                <div class="feature-icon"></div>
            </div>
        </li>
    </ul>
</section>
