/*
= = = = = = = = = =
CodeMirror fixes
= = = = = = = = = =
*/
.less-error-message {
	margin-top: 5em;
	margin-left: 1em;
	margin-right: 1em;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.05) !important;
	.box-shadow(0px 0px 6px rgba(0, 0, 0, 0.2), inset 0px 1px 2px white;);
	position: relative;
	z-index: 1000;
}

/*
= = = = = = = = = =
CakePHP fixes
= = = = = = = = = =
*/

.padding-rule(cake-error, 6em 0 2em 0, 6em 0 1em 0, 6em 0 1em 0, 0, 0);

body > pre {
	&.cake-error {
		background-color: white;
		padding:@vertical-padding @horizontal-padding;
		margin:@vertical-padding @horizontal-padding;
		&:first-child {
			margin-top:5em;
		}
	}
}

body > header + pre {
	&.cake-error {
		background-color: white;
		padding:@vertical-padding @horizontal-padding;
		margin:@vertical-padding @horizontal-padding;
		margin-top:5em;
	}
}

/*
= = = = = = = = = = = =
Just for debug prupose
= = = = = = = = = = = =


.debug {
	@border: 1px solid rgb(200,200,0) !important;
	border:@border;
	* {
		border:@border;
	}
}
*/