// Text colors
@textGrey:#7b8284;
@textGreyLight:#b1b1b1;
@textBlack:#322e20;

// Element colors
@backgroundBlack:#393634;
@backgroundGrey:#7b8284;
@backgroundGreyLight:#b1b1b1;
@backgroundGreyDark:saturate(darken(@backgroundGrey,10%),10%);
@backgroundAqua:#1ba6da;
@backgroundAzure:#e2e2e2;