/*
Frontsize - http://frontsize.com
License:	Apache License v2.0
Version:	1.1
Date:		2013-06-08
Author:		Vittorio Vittori
Website:	http://vittoriovittori.com
*/

@import "theme.less";

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==      ADVANCED CONFIGURATION       ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

/**
Responsive columns behavior configuration
change the number a columns per row by setting this

For example, on tablet landscape 5 columns will be turned into 3 columns:
@media only screen and (max-width : (@hd-ready-step - 1px)) {
	.contain-5  > * { .set-columns(3); }
}
*/

// Media queries for selectors active from smaller resolution device mobile to a specific one
/*
@media only screen and (min-width : @hd-full-step) {
	// Full HD
	// nothing to set here
}
@media only screen and (max-width : (@hd-full-step - 1px)) {
	// HD Ready
	// nothing to set here
}
*/
@media only screen and (max-width : (@hd-ready-step - 1px)) {
	// Tablet landscape

	// Contents rules
	// .contain-2  > * { .set-columns(2); } // default
	// .contain-3  > * { .set-columns(3); } // default
	// .contain-4  > * { .set-columns(4); } // default
	.contain-5  > * { .set-columns(3); } // normal, from 5 columns to 3
	.contain-6  > * { .set-columns(3); } // normal, from 6 columns to 3
	.contain-8  > * { .set-columns(4); } // normal, from 8 columns to 4
	.contain-10 > * { .set-columns(5); } // narrow, from 5 columns to 5
	.contain-12 > * { .set-columns(6); } // narrow, from 5 columns to 6
	.contain-16 > * { .set-columns(8); } // narrow, from 5 columns to 8
	
	// Menus rules
	.contain-5.menu-columns  > * { .set-columns(5); } // normal, from 5 columns to 3
	.contain-6.menu-columns  > * { .set-columns(6); } // normal, from 6 columns to 3
	.contain-8.menu-columns  > * { .set-columns(8); } // normal, from 8 columns to 4
	.contain-10.menu-columns > * { .set-columns(10); } // narrow, from 5 columns to 5
	.contain-12.menu-columns > * { .set-columns(12); } // narrow, from 5 columns to 6
	.contain-16.menu-columns > * { .set-columns(16); } // narrow, from 5 columns to 8

}
@media only screen and (max-width : (@tablet-landscape-step - 1px)) {
	// Tablet portrait
	
	// Contents rules
	// .contain-2  > * { .set-columns(2); } // default
	// .contain-3  > * { .set-columns(3); } // default
	.contain-4  > * { .set-columns(2); } // wide, from 4 columns to 2
	.contain-5  > * { .set-columns(3); } // normal, from 5 columns to 3
	.contain-6  > * { .set-columns(3); } // normal, from 6 columns to 3
	.contain-8  > * { .set-columns(4); } // normal, from 8 columns to 4
	.contain-10 > * { .set-columns(5); } // narrow, from 10 columns to 5
	.contain-12 > * { .set-columns(6); } // narrow, from 12 columns to 6
	.contain-16 > * { .set-columns(4); } // narrow, from 16 columns to 4

	// Menus rules
	.contain-4.menu-columns  > * { .set-columns(4); } // wide, from 4 columns to 2
	.contain-5.menu-columns  > * { .set-columns(3); } // normal, from 5 columns to 3
	.contain-6.menu-columns  > * { .set-columns(3); } // normal, from 6 columns to 3
	.contain-8.menu-columns  > * { .set-columns(4); } // normal, from 8 columns to 4
	.contain-10.menu-columns > * { .set-columns(5); } // narrow, from 10 columns to 5
	.contain-12.menu-columns > * { .set-columns(4); } // narrow, from 12 columns to 6
	.contain-16.menu-columns > * { .set-columns(4); } // narrow, from 16 columns to 4
}
@media only screen and (max-width : (@tablet-portrait-step - 1px)) {
	// Smartphone landscape

	// Contents rules and Menus rules
	// .contain-2  > * { .set-columns(2); } // default
	.contain-3  > *, .contain-3.menu-columns  > * { .set-columns(2); } // wide, from 3 columns to 2
	.contain-4  > *, .contain-4.menu-columns  > * { .set-columns(2); } // wide, from 4 columns to 2
	.contain-5  > *, .contain-5.menu-columns  > * { .set-columns(2); } // normal, from 5 columns to 2
	.contain-6  > *, .contain-6.menu-columns  > * { .set-columns(2); } // normal, from 6 columns to 2
	.contain-8  > *, .contain-8.menu-columns  > * { .set-columns(2); } // normal, from 8 columns to 2
	.contain-10 > *, .contain-10.menu-columns > * { .set-columns(3); } // narrow, from 10 columns to 3
	.contain-12 > *, .contain-12.menu-columns > * { .set-columns(3); } // narrow, from 12 columns to 3
	.contain-16 > *, .contain-16.menu-columns > * { .set-columns(3); } // narrow, from 16 columns to 3
}
@media only screen and (max-width : (@smartphone-landscape-step - 1px)) {
	// Smartphone portrait

	// Contents rules and Menus rules
	.contain-2  > *, .contain-2.menu-columns  > * { .set-columns(1); } // wide, from 2 columns to 1
	.contain-3  > *, .contain-3.menu-columns  > * { .set-columns(1); } // wide, from 3 columns to 1
	.contain-4  > *, .contain-4.menu-columns  > * { .set-columns(1); } // wide, from 4 columns to 1
	.contain-5  > *, .contain-5.menu-columns  > * { .set-columns(1); } // normal, from 5 columns to 1
	.contain-6  > *, .contain-6.menu-columns  > * { .set-columns(1); } // normal, from 6 columns to 1
	.contain-8  > *, .contain-8.menu-columns  > * { .set-columns(1); } // normal, from 8 columns to 1
	.contain-10 > *, .contain-10.menu-columns > * { .set-columns(2); } // narrow, from 10 columns to 2
	.contain-12 > *, .contain-12.menu-columns > * { .set-columns(2); } // narrow, from 12 columns to 2
	.contain-16 > *, .contain-16.menu-columns > * { .set-columns(2); } // narrow, from 16 columns to 2
}

/**
HERE ENDS YOUR CONFIGURATION
*/



/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==             FRONTSIZE             ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

/**
Frontsize global setting mixins
*/

.global-steps(@hd-full-margin:500px, @hd-ready-margin:100px, @tablet-landscape-margin:50px, @tablet-portrait-margin:100%, @smartphone-landscape-margin:100%, @smartphone-portrait-margin:100%, @gear:4) {
	// Media queries for selectors active from a specific resolution or higher
	/*
	@media only screen and (min-width : 1px) {
		// Smartphone portrait
		// .use-steps { max-width:(@smartphone-portrait-step - @smartphone-portrait-margin); }
		// .use-wide-steps { max-width:(@smartphone-portrait-step - @smartphone-portrait-margin - @smartphone-portrait-step/@gear); }
	}
	@media only screen and (min-width : @smartphone-landscape-step) {
		// Smartphone landscape
		// .use-steps { max-width:(@smartphone-landscape-step - @smartphone-landscape-margin); }
		// .use-wide-steps { max-width:(@smartphone-landscape-step - @smartphone-landscape-margin - @smartphone-landscape-step/@gear); }
	}
	*/
	@media only screen and (min-width : @tablet-portrait-step) {
		// Tablet portrait
		.use-steps { max-width:(@tablet-portrait-step - @tablet-portrait-margin); }
		.use-wide-steps { max-width:(@tablet-portrait-step - @tablet-portrait-margin - @tablet-portrait-step/@gear); }
	}
	@media only screen and (min-width : @tablet-landscape-step) {
		// Tablet landscape
		.use-steps { max-width:(@tablet-landscape-step - @tablet-landscape-margin); }
		.use-wide-steps { max-width:(@tablet-landscape-step - @tablet-landscape-margin - @tablet-landscape-step/@gear); }
	}
	@media only screen and (min-width : @hd-ready-step) {
		// HD Ready
		.use-steps { max-width:(@hd-ready-step - @hd-ready-margin); }
		.use-wide-steps { max-width:(@hd-ready-step - @hd-ready-margin - @hd-ready-step/@gear); }
		
	}
	@media only screen and (min-width : @hd-full-step) {
		// Full HD
		.use-steps { max-width:(@hd-full-step - @hd-full-margin); }
		.use-wide-steps { max-width:(@hd-full-step - @hd-full-margin - @hd-full-step/@gear); }
	}
}

.global-steps-padding(@hd-full:3em, @hd-ready:3em, @tablet-landscape:2em, @tablet-portrait:2em, @smartphone-landscape:1em, @smartphone-portrait:1em) {
	// Media queries for selectors active from a specific resolution or higher
	@media only screen and (min-width : 1px) {
		// Smartphone portrait
		.set-step-padding(@smartphone-portrait);
	}
	@media only screen and (min-width : @smartphone-landscape-step) {
		// Smartphone landscape
		.set-step-padding(@smartphone-landscape);
	}
	@media only screen and (min-width : @tablet-portrait-step) {
		// Tablet portrait
		.set-step-padding(@tablet-portrait);
	}
	@media only screen and (min-width : @tablet-landscape-step) {
		// Tablet landscape
		.set-step-padding(@tablet-landscape);
	}
	@media only screen and (min-width : @hd-ready-step) {
		// HD Ready
		.set-step-padding(@hd-ready);
	}
	@media only screen and (min-width : @hd-full-step) {
		// Full HD
		.set-step-padding(@hd-full);
	}
}

.global-font-scaling(@hd-full:1.5em, @hd-ready:1.25em, @tablet-landscape:1em, @tablet-portrait:1em, @smartphone-landscape:1em, @smartphone-portrait:1em, @line-height-multiplier:1.5) {
	// Media queries for selectors active from a specific resolution or higher
	@media only screen and (min-width : 1px) {
		// Smartphone portrait
		body { font-size:@smartphone-portrait; line-height: @line-height-multiplier; .with-small-fonts { font-size:.75em; }}
	}
	@media only screen and (min-width : @smartphone-landscape-step) {
		// Smartphone landscape
		body { font-size:@smartphone-landscape; line-height: @line-height-multiplier; .with-small-fonts { font-size:.75em; }}
	}
	@media only screen and (min-width : @tablet-portrait-step) {
		// Tablet portrait
		body { font-size:@tablet-portrait; line-height: @line-height-multiplier; .with-small-fonts { font-size:.75em; }}
	}
	@media only screen and (min-width : @tablet-landscape-step) {
		// Tablet landscape
		body { font-size:@tablet-landscape; line-height: @line-height-multiplier; .with-small-fonts { font-size:.75em; }}
	}
	@media only screen and (min-width : @hd-ready-step) {
		// HD Ready
		body { font-size:@hd-ready; line-height: @line-height-multiplier; .with-small-fonts { font-size:.75em; }}
	}
	@media only screen and (min-width : @hd-full-step) {
		// Full HD
		body { font-size:@hd-full; line-height: @line-height-multiplier; .with-small-fonts { font-size:.75em; }}
	}
}
.global-small-font-scaling(@font-family-hd:@font-small, @font-size-hd:.75em, @antialias-hd:antialiased, @font-family-tablet:@font-small, @font-size-tablet:.75em, @antialias-tablet:antialiased, @font-family-smartphone:@font-small, @font-size-smartphone:.85em, @antialias-smartphone:subpixel-antialiased) {
	// Media queries for selectors active from a specific resolution or higher
	.global-small-font-smartphone(@font-family-smartphone, @font-size-smartphone, @antialias-smartphone);
	.global-small-font-tablet(@font-family-tablet, @font-size-tablet, @antialias-tablet);
	.global-small-font-hd(@font-family-hd, @font-size-hd, @antialias-hd);
}

.global-small-font-hd(@font-family:@font-small, @font-size:.75em, @antialias:antialiased) {
	@media only screen and (min-width : @hd-ready-step) {
		// HD Ready
		body { .with-small-fonts { font-family:@font-family; font-size:@font-size; .font-smoothing(@antialias); }}
	}
	@media only screen and (min-width : @hd-full-step) {
		// Full HD
		body { .with-small-fonts { font-family:@font-family; font-size:@font-size; .font-smoothing(@antialias); }}
	}
}

.global-small-font-tablet(@font-family:@font-small, @font-size:.75em, @antialias:antialiased) {
	@media only screen and (min-width : @tablet-portrait-step) {
		// Tablet portrait
		body { .with-small-fonts { font-family:@font-family; font-size:@font-size; .font-smoothing(@antialias); }}
	}
	@media only screen and (min-width : @tablet-landscape-step) {
		// Tablet landscape
		body { .with-small-fonts { font-family:@font-family; font-size:@font-size; .font-smoothing(@antialias); }}
	}
}

.global-small-font-smartphone(@font-family:@font-small, @font-size:.85em, @antialias:subpixel-antialiased) {
	@media only screen and (min-width : 1px) {
		// Smartphone portrait
		body { .with-small-fonts { font-family:@font-family; font-size:@font-size; .font-smoothing(@antialias); }}
	}
	@media only screen and (min-width : @smartphone-landscape-step) {
		// Smartphone landscape
		body { .with-small-fonts { font-family:@font-family; font-size:@font-size; .font-smoothing(@antialias); }}
	}
}

.global-h-font-scaling(@hd-full:1.5em, @hd-ready:1.25em, @tablet-landscape:1.125em, @tablet-portrait:1.125em, @smartphone-landscape:1em, @smartphone-portrait:1em) {
	// Media queries for selectors active from a specific resolution or higher
	
	@media only screen and (min-width : 1px) {
		// Smartphone portrait
		h1 { font-size: unit(@h1*@smartphone-portrait,em); }
		h2 { font-size: unit(@h2*@smartphone-portrait,em); }
		h3 { font-size: unit(@h3*@smartphone-portrait,em); }
		h4 { font-size: unit(@h4*@smartphone-portrait,em); }
		h5 { font-size: unit(@h5*@smartphone-portrait,em); }
		h6 { font-size: unit(@h6*@smartphone-portrait,em); }
		h1, h2, h3, h4, h5, h6 { margin-bottom:unit(@smartphone-portrait/4,em); }
	}
	@media only screen and (min-width : @smartphone-landscape-step) {
		// Smartphone landscape
		h1 { font-size: unit(@h1*@smartphone-landscape,em); }
		h2 { font-size: unit(@h2*@smartphone-landscape,em); }
		h3 { font-size: unit(@h3*@smartphone-landscape,em); }
		h4 { font-size: unit(@h4*@smartphone-landscape,em); }
		h5 { font-size: unit(@h5*@smartphone-landscape,em); }
		h6 { font-size: unit(@h6*@smartphone-landscape,em); }
		h1, h2, h3, h4, h5, h6 { margin-bottom:unit(@smartphone-landscape/4,em); }
	}
	@media only screen and (min-width : @tablet-portrait-step) {
		// Tablet portrait
		h1 { font-size: unit(@h1*@tablet-portrait,em); }
		h2 { font-size: unit(@h2*@tablet-portrait,em); }
		h3 { font-size: unit(@h3*@tablet-portrait,em); }
		h4 { font-size: unit(@h4*@tablet-portrait,em); }
		h5 { font-size: unit(@h5*@tablet-portrait,em); }
		h6 { font-size: unit(@h6*@tablet-portrait,em); }
		h1, h2, h3, h4, h5, h6 { margin-bottom:unit(@tablet-portrait/4,em); }
	}
	@media only screen and (min-width : @tablet-landscape-step) {
		// Tablet landscape
		h1 { font-size: unit(@h1*@tablet-landscape,em); }
		h2 { font-size: unit(@h2*@tablet-landscape,em); }
		h3 { font-size: unit(@h3*@tablet-landscape,em); }
		h4 { font-size: unit(@h4*@tablet-landscape,em); }
		h5 { font-size: unit(@h5*@tablet-landscape,em); }
		h6 { font-size: unit(@h6*@tablet-landscape,em); }
		h1, h2, h3, h4, h5, h6 { margin-bottom:unit(@tablet-landscape/4,em); }
	}
	@media only screen and (min-width : @hd-ready-step) {
		// HD Ready
		h1 { font-size: unit(@h1*@hd-ready,em); }
		h2 { font-size: unit(@h2*@hd-ready,em); }
		h3 { font-size: unit(@h3*@hd-ready,em); }
		h4 { font-size: unit(@h4*@hd-ready,em); }
		h5 { font-size: unit(@h5*@hd-ready,em); }
		h6 { font-size: unit(@h6*@hd-ready,em); }
		h1, h2, h3, h4, h5, h6 { margin-bottom:unit(@hd-full/4,em); }
	}
	@media only screen and (min-width : @hd-full-step) {
		// Full HD
		h1 { font-size: unit(@h1*@hd-full,em); }
		h2 { font-size: unit(@h2*@hd-full,em); }
		h3 { font-size: unit(@h3*@hd-full,em); }
		h4 { font-size: unit(@h4*@hd-full,em); }
		h5 { font-size: unit(@h5*@hd-full,em); }
		h6 { font-size: unit(@h6*@hd-full,em); }
		h1, h2, h3, h4, h5, h6 { margin-bottom:unit(@hd-full/4,em); }
	}
}
.columns *,
.menu-columns * {
	.wrap;
}
.columns,
.menu-columns {
	padding-top:@vertical-padding;
}
.columns > *,
.menu-columns > * {
	padding-bottom:@vertical-padding;
}
.columns > *, .menu-columns > *, .full,
.wide-1-of-16, .wide-2-of-16, .wide-3-of-16, .wide-4-of-16, .wide-5-of-16, .wide-6-of-16, .wide-7-of-16, .wide-8-of-16, .wide-9-of-16, .wide-10-of-16, .wide-11-of-16, .wide-12-of-16, .wide-13-of-16, .wide-14-of-16, .wide-15-of-16, .wide-16-of-16,
.wide-1-of-12, .wide-2-of-12, .wide-3-of-12, .wide-4-of-12, .wide-5-of-12, .wide-6-of-12, .wide-7-of-12, .wide-8-of-12, .wide-9-of-12, .wide-10-of-12, .wide-11-of-12, .wide-12-of-12,
.wide-1-of-10, .wide-2-of-10, .wide-3-of-10, .wide-4-of-10, .wide-5-of-10, .wide-6-of-10, .wide-7-of-10, .wide-8-of-10, .wide-9-of-10, .wide-10-of-10,
.wide-1-of-8, .wide-2-of-8, .wide-3-of-8, .wide-4-of-8, .wide-5-of-8, .wide-6-of-8, .wide-7-of-8, .wide-8-of-8,
.wide-1-of-6, .wide-2-of-6, .wide-3-of-6, .wide-4-of-6, .wide-5-of-6, .wide-6-of-6,
.wide-1-of-5, .wide-2-of-5, .wide-3-of-5, .wide-4-of-5, .wide-5-of-5,
.wide-1-of-4, .wide-2-of-4, .wide-3-of-4, .wide-4-of-4,
.wide-1-of-3, .wide-2-of-3, .wide-3-of-3,
.wide-1-of-2, .wide-2-of-2 {
	padding-left:@horizontal-padding;
	padding-right:@horizontal-padding;
	float: left;
	position: relative; // just to help who like to use some absolute element inside without need to assign position relative to all Frontsize selectors
	.wrap;
}

/*
Frontsize frontend framework
Sizing rules and APIs
*/

.columns,
.menu-columns {
	width:100%;
}

.contain-2  > *, .contain-2.menu-columns  > * { .set-column-step(1,2); }
.contain-3  > *, .contain-3.menu-columns  > * { .set-column-step(1,3); }
.contain-4  > *, .contain-4.menu-columns  > * { .set-column-step(1,4); }
.contain-5  > *, .contain-5.menu-columns  > * { .set-column-step(1,5); }
.contain-6  > *, .contain-6.menu-columns  > * { .set-column-step(1,6); }
.contain-8  > *, .contain-8.menu-columns  > * { .set-column-step(1,8); }
.contain-10 > *, .contain-10.menu-columns > * { .set-column-step(1,10); }
.contain-12 > *, .contain-12.menu-columns > * { .set-column-step(1,12); }
.contain-16 > *, .contain-16.menu-columns > * { .set-column-step(1,16); }

// to change the default rule of elements width balance to a more specific one
.columns >  *.wide-1-of-16, .menu-columns >  *.wide-1-of-16,  .wide-1-of-16 { .set-column-step(1,16); }
.columns >  *.wide-2-of-16, .menu-columns >  *.wide-2-of-16,  .wide-2-of-16 { .set-column-step(2,16); }
.columns >  *.wide-3-of-16, .menu-columns >  *.wide-3-of-16,  .wide-3-of-16 { .set-column-step(3,16); }
.columns >  *.wide-4-of-16, .menu-columns >  *.wide-4-of-16,  .wide-4-of-16 { .set-column-step(4,16); }
.columns >  *.wide-5-of-16, .menu-columns >  *.wide-5-of-16,  .wide-5-of-16 { .set-column-step(5,16); }
.columns >  *.wide-6-of-16, .menu-columns >  *.wide-6-of-16,  .wide-6-of-16 { .set-column-step(6,16); }
.columns >  *.wide-7-of-16, .menu-columns >  *.wide-7-of-16,  .wide-7-of-16 { .set-column-step(7,16); }
.columns >  *.wide-8-of-16, .menu-columns >  *.wide-8-of-16,  .wide-8-of-16 { .set-column-step(8,16); }
.columns >  *.wide-9-of-16, .menu-columns >  *.wide-9-of-16,  .wide-9-of-16 { .set-column-step(9,16); }
.columns > *.wide-10-of-16, .menu-columns > *.wide-10-of-16, .wide-10-of-16 { .set-column-step(10,16);}
.columns > *.wide-11-of-16, .menu-columns > *.wide-11-of-16, .wide-11-of-16 { .set-column-step(11,16);}
.columns > *.wide-12-of-16, .menu-columns > *.wide-12-of-16, .wide-12-of-16 { .set-column-step(12,16);}
.columns > *.wide-13-of-16, .menu-columns > *.wide-13-of-16, .wide-13-of-16 { .set-column-step(13,16);}
.columns > *.wide-14-of-16, .menu-columns > *.wide-14-of-16, .wide-14-of-16 { .set-column-step(14,16);}
.columns > *.wide-15-of-16, .menu-columns > *.wide-15-of-16, .wide-15-of-16 { .set-column-step(15,16);}
.columns > *.wide-16-of-16, .menu-columns > *.wide-16-of-16, .wide-16-of-16 { .set-column-step(16,16);}

.columns >  *.wide-1-of-12, .menu-columns >  *.wide-1-of-12,  .wide-1-of-12 { .set-column-step(1,12); }
.columns >  *.wide-2-of-12, .menu-columns >  *.wide-2-of-12,  .wide-2-of-12 { .set-column-step(2,12); }
.columns >  *.wide-3-of-12, .menu-columns >  *.wide-3-of-12,  .wide-3-of-12 { .set-column-step(3,12); }
.columns >  *.wide-4-of-12, .menu-columns >  *.wide-4-of-12,  .wide-4-of-12 { .set-column-step(4,12); }
.columns >  *.wide-5-of-12, .menu-columns >  *.wide-5-of-12,  .wide-5-of-12 { .set-column-step(5,12); }
.columns >  *.wide-6-of-12, .menu-columns >  *.wide-6-of-12,  .wide-6-of-12 { .set-column-step(6,12); }
.columns >  *.wide-7-of-12, .menu-columns >  *.wide-7-of-12,  .wide-7-of-12 { .set-column-step(7,12); }
.columns >  *.wide-8-of-12, .menu-columns >  *.wide-8-of-12,  .wide-8-of-12 { .set-column-step(8,12); }
.columns >  *.wide-9-of-12, .menu-columns >  *.wide-9-of-12,  .wide-9-of-12 { .set-column-step(9,12); }
.columns > *.wide-10-of-12, .menu-columns > *.wide-10-of-12, .wide-10-of-12 { .set-column-step(10,12);}
.columns > *.wide-11-of-12, .menu-columns > *.wide-11-of-12, .wide-11-of-12 { .set-column-step(11,12);}
.columns > *.wide-12-of-12, .menu-columns > *.wide-12-of-12, .wide-12-of-12 { .set-column-step(12,12);}

.columns >  *.wide-1-of-10, .menu-columns >  *.wide-1-of-10,  .wide-1-of-10 { .set-column-step(1,10); }
.columns >  *.wide-2-of-10, .menu-columns >  *.wide-2-of-10,  .wide-2-of-10 { .set-column-step(2,10); }
.columns >  *.wide-3-of-10, .menu-columns >  *.wide-3-of-10,  .wide-3-of-10 { .set-column-step(3,10); }
.columns >  *.wide-4-of-10, .menu-columns >  *.wide-4-of-10,  .wide-4-of-10 { .set-column-step(4,10); }
.columns >  *.wide-5-of-10, .menu-columns >  *.wide-5-of-10,  .wide-5-of-10 { .set-column-step(5,10); }
.columns >  *.wide-6-of-10, .menu-columns >  *.wide-6-of-10,  .wide-6-of-10 { .set-column-step(6,10); }
.columns >  *.wide-7-of-10, .menu-columns >  *.wide-7-of-10,  .wide-7-of-10 { .set-column-step(7,10); }
.columns >  *.wide-8-of-10, .menu-columns >  *.wide-8-of-10,  .wide-8-of-10 { .set-column-step(8,10); }
.columns >  *.wide-9-of-10, .menu-columns >  *.wide-9-of-10,  .wide-9-of-10 { .set-column-step(9,10); }
.columns > *.wide-10-of-10, .menu-columns > *.wide-10-of-10, .wide-10-of-10 { .set-column-step(10,10);}

.columns > *.wide-1-of-8, .menu-columns > *.wide-1-of-8, .wide-1-of-8 { .set-column-step(1,8);}
.columns > *.wide-2-of-8, .menu-columns > *.wide-2-of-8, .wide-2-of-8 { .set-column-step(2,8);}
.columns > *.wide-3-of-8, .menu-columns > *.wide-3-of-8, .wide-3-of-8 { .set-column-step(3,8);}
.columns > *.wide-4-of-8, .menu-columns > *.wide-4-of-8, .wide-4-of-8 { .set-column-step(4,8);}
.columns > *.wide-5-of-8, .menu-columns > *.wide-5-of-8, .wide-5-of-8 { .set-column-step(5,8);}
.columns > *.wide-6-of-8, .menu-columns > *.wide-6-of-8, .wide-6-of-8 { .set-column-step(6,8);}
.columns > *.wide-7-of-8, .menu-columns > *.wide-7-of-8, .wide-7-of-8 { .set-column-step(7,8);}
.columns > *.wide-8-of-8, .menu-columns > *.wide-8-of-8, .wide-8-of-8 { .set-column-step(8,8);}

.columns > *.wide-1-of-6, .menu-columns > *.wide-1-of-6, .wide-1-of-6 { .set-column-step(1,6);}
.columns > *.wide-2-of-6, .menu-columns > *.wide-2-of-6, .wide-2-of-6 { .set-column-step(2,6);}
.columns > *.wide-3-of-6, .menu-columns > *.wide-3-of-6, .wide-3-of-6 { .set-column-step(3,6);}
.columns > *.wide-4-of-6, .menu-columns > *.wide-4-of-6, .wide-4-of-6 { .set-column-step(4,6);}
.columns > *.wide-5-of-6, .menu-columns > *.wide-5-of-6, .wide-5-of-6 { .set-column-step(5,6);}
.columns > *.wide-6-of-6, .menu-columns > *.wide-6-of-6, .wide-6-of-6 { .set-column-step(6,6);}

.columns > *.wide-1-of-5, .menu-columns > *.wide-1-of-5, .wide-1-of-5 { .set-column-step(1,5); }
.columns > *.wide-2-of-5, .menu-columns > *.wide-2-of-5, .wide-2-of-5 { .set-column-step(2,5); }
.columns > *.wide-3-of-5, .menu-columns > *.wide-3-of-5, .wide-3-of-5 { .set-column-step(3,5); }
.columns > *.wide-4-of-5, .menu-columns > *.wide-4-of-5, .wide-4-of-5 { .set-column-step(4,5); }
.columns > *.wide-5-of-5, .menu-columns > *.wide-5-of-5, .wide-5-of-5 { .set-column-step(5,5); }

.columns > *.wide-1-of-4, .menu-columns > *.wide-1-of-4, .wide-1-of-4 { .set-column-step(1,4); }
.columns > *.wide-2-of-4, .menu-columns > *.wide-2-of-4, .wide-2-of-4 { .set-column-step(2,4); }
.columns > *.wide-3-of-4, .menu-columns > *.wide-3-of-4, .wide-3-of-4 { .set-column-step(3,4); }
.columns > *.wide-4-of-4, .menu-columns > *.wide-4-of-4, .wide-4-of-4 { .set-column-step(4,4); }

.columns > *.wide-1-of-3, .menu-columns > *.wide-1-of-3, .wide-1-of-3 { .set-column-step(1,3);}
.columns > *.wide-2-of-3, .menu-columns > *.wide-2-of-3, .wide-2-of-3 { .set-column-step(2,3);}
.columns > *.wide-3-of-3, .menu-columns > *.wide-3-of-3, .wide-3-of-3 { .set-column-step(3,3);}

.columns > *.wide-1-of-2, .menu-columns > *.wide-1-of-2, .wide-1-of-2 { .set-column-step(1,2);}
.columns > *.wide-2-of-2, .menu-columns > *.wide-2-of-2, .wide-2-of-2 { .set-column-step(2,2);}

// to be sure to go on the next row 
.contain-2  > *:nth-child(2n+1),  .contain-2.menu-columns  > *:nth-child(2n+1)  { clear:both; }
.contain-3  > *:nth-child(3n+1),  .contain-3.menu-columns  > *:nth-child(3n+1)  { clear:both; }
.contain-4  > *:nth-child(4n+1),  .contain-4.menu-columns  > *:nth-child(4n+1)  { clear:both; }
.contain-5  > *:nth-child(5n+1),  .contain-5.menu-columns  > *:nth-child(5n+1)  { clear:both; }
.contain-6  > *:nth-child(6n+1),  .contain-6.menu-columns  > *:nth-child(6n+1)  { clear:both; }
.contain-8  > *:nth-child(8n+1),  .contain-8.menu-columns  > *:nth-child(8n+1)  { clear:both; }
.contain-10 > *:nth-child(10n+1), .contain-10.menu-columns > *:nth-child(10n+1) { clear:both; }
.contain-12 > *:nth-child(12n+1), .contain-12.menu-columns > *:nth-child(12n+1) { clear:both; }
.contain-16 > *:nth-child(16n+1), .contain-16.menu-columns > *:nth-child(16n+1) { clear:both; }

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==             FRONTSIZE             ===================================================================================================================================
==             INTERNAL              ===================================================================================================================================
==              MIXINS               ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

/**
Frontsize internal mixins to extend with new columns
*/
.set-columns(@columns) {
	width:(100%/@columns) !important;
	&:nth-child(2n+1) {clear:none;}
	&:nth-child(3n+1) {clear:none;}
	&:nth-child(4n+1) {clear:none;}
	&:nth-child(5n+1) {clear:none;}
	&:nth-child(6n+1) {clear:none;}
	&:nth-child(8n+1) {clear:none;}
	&:nth-child(10n+1){clear:none;}
	&:nth-child(12n+1){clear:none;}
	&:nth-child(16n+1){clear:none;}
	&:nth-child(@{columns}n+1) {clear:both;}
}
.set-column-step(@step, @columns) {
	width:((100% * @step)/@columns);
}
.set-step-padding(@step) {
	.with-steps-padding { padding:@step !important; }
	.with-horizontal-steps-padding { padding-left:@step !important; padding-right:@step !important; }
	.with-vertical-steps-padding { padding-top:@step !important; padding-bottom:@step !important; }
	.with-top-steps-padding { padding-top:@step !important; }
	.with-bottom-steps-padding { padding-bottom:@step !important; }
}

// not working yet in LESS 1.4.1
.view(@filename) { @import "views/@{filename}.less"; }
.view(@view, @controller) { @import "views/@{controller}/@{view}.less"; }
.model(@filename) { @import 'models/@{filename}.less'; }

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
==        FRONTSIZE SELECTORS        ===================================================================================================================================
==                                   ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

.use-steps,
.use-wide-steps {
	// center the steps container
	margin: auto;
	.wrap;
}
.columns,
.menu-columns {
	// be sure to contain the floated elements contained with my height
	overflow: auto;
	.wrap;
}
.menu-columns {
	overflow: visible;
}
.wrap {
	// avoid the unwanted width over the 100% of the size of the container
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.full,
.fill {
	// Remember: .full selector sets lateral padding too
	// manually occupy all this row
	width:100%;
}
.centered {
	// manually center all the contents inside
	text-align: center;
}
.to-right {
	// manually center all the contents inside
	text-align: right;
}
.to-left {
	// manually center all the contents inside
	text-align: left;
}
.clear {
	// manually go down to the next row
	clear:both;
}
.menu-list {
	list-style-type: none;
}
.opposite-paged {
	// the first child will have text-align to left and the last child will have text-align to right
	> * {
		&:first-child {
			text-align: left;
		}
		&:last-child {
			text-align: right;
		}
	} 
}

.box {
	overflow: auto;
}


.with-padding {
	padding:@vertical-padding @horizontal-padding;
}
.with-horizontal-padding {
	padding-right: @horizontal-padding;
	padding-left: @horizontal-padding;
}
.with-vertical-padding {
	padding-top: @vertical-padding;
	padding-bottom: @vertical-padding;
}
.with-top-padding {
	padding-top: @vertical-padding;
}
.with-bottom-padding {
	padding-bottom: @vertical-padding;
}
.no-padding {
	padding:0;
}
.without-padding {
	// no padding for me and my children only
	padding:0;
	.without-padding-to-children;
}
.without-padding-to-children {
	// no padding for my children only
	> * {
		padding:0;
	}
}
.without-padding-to-grandchildrens {
	// no padding for my children's children only
	> * > * {
		padding:0;
	}
}
.without-padding-to-all {
	// no padding for everything inside on every level
	> *, > * * {
		padding:0;
	}
}
.fluid {
	// make an image responsive
	height: auto;
	max-width: 100%;
	&.fill {
		width: 100%;
	}
}
.not-fluid {
	// set an image with it's default behavior
	width: auto;
	height: auto;
}
.fluid-all {
	// make all images responsive
	img {
		width: 100%;
		height: auto;
	}
}
.float-l {
	float: left;
}
.float-r {
	float: right;
}

.faded, .disabled {
	opacity:0.5;
}

.disabled {
	cursor: default;
}

@import "normalize.less";
@import "base.less";
@import "css3.less";
@import "mixins.less";
@import "widgets.less";


/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==             FRONTSIZE             ===================================================================================================================================
==          VISIBILITY RULES         ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/
// Media queries for strict resolution selectors
@media	only screen
		and (min-width : @hd-full-step) {
	// Full HD
	//.only-on-hd-full				{background-color:pink; padding:.25em;}
	.only-on-hd-ready				{display:none;}
	.only-on-tablet-landscape		{display:none;}
	.only-on-tablet-portrait		{display:none;}
	.only-on-smartphone-landscape	{display:none;}
	.only-on-smartphone-portrait	{display:none;}
}

@media	only screen
		and (min-width : @hd-ready-step)
		and (max-width : (@hd-full-step - 1px)) {
	// HD Ready
	.only-on-hd-full				{display:none;}
	//.only-on-hd-ready				{background-color:aqua; padding:.25em;}
	.only-on-tablet-landscape		{display:none;}
	.only-on-tablet-portrait		{display:none;}
	.only-on-smartphone-landscape	{display:none;}
	.only-on-smartphone-portrait	{display:none;}
}

@media	only screen
		and (min-width : @tablet-landscape-step)
		and (max-width : (@hd-ready-step - 1px)) {
	// Tablet landscape
	.only-on-hd-full				{display:none;}
	.only-on-hd-ready				{display:none;}
	//.only-on-tablet-landscape		{background-color:yellow; padding:.25em;}
	.only-on-tablet-portrait		{display:none;}
	.only-on-smartphone-landscape	{display:none;}
	.only-on-smartphone-portrait	{display:none;}
}

@media	only screen
		and (min-width : @tablet-portrait-step)
		and (max-width : (@tablet-landscape-step - 1px)) {
	// Tablet portrait
	.only-on-hd-full				{display:none;}
	.only-on-hd-ready				{display:none;}
	.only-on-tablet-landscape		{display:none;}
	//.only-on-tablet-portrait		{background-color:orange; padding:.25em;}
	.only-on-smartphone-landscape	{display:none;}
	.only-on-smartphone-portrait	{display:none;}
}

@media	only screen
		and (min-width : @smartphone-landscape-step)
		and (max-width : (@tablet-portrait-step - 1px)) {
	// Smartphone landscape
	.only-on-hd-full				{display:none;}
	.only-on-hd-ready				{display:none;}
	.only-on-tablet-landscape		{display:none;}
	.only-on-tablet-portrait		{display:none;}
	//.only-on-smartphone-landscape	{background-color:lightgrey; padding:.25em;}
	.only-on-smartphone-portrait	{display:none;}
}

@media	only screen
		and (min-width : 1px)
		and (max-width : (@smartphone-landscape-step - 1px)) {
	// Smartphone portrait
	.only-on-hd-full				{display:none;}
	.only-on-hd-ready				{display:none;}
	.only-on-tablet-landscape		{display:none;}
	.only-on-tablet-portrait		{display:none;}
	.only-on-smartphone-landscape	{display:none;}
	//.only-on-smartphone-portrait	{background-color:lightblue; padding:.25em;}
}

/*
========================================================================================================================================================================
==                                   ===================================================================================================================================
==             FRONTSIZE             ===================================================================================================================================
==        MOBILE FIRST RULES         ===================================================================================================================================
==                                   ===================================================================================================================================
========================================================================================================================================================================
*/

// Media queries for selectors active from smaller resolution device mobile to a specific one
@media only screen and (min-width : @hd-full-step) {
	// Full HD
	.not-from-hd-full { display:none; }
	.full-from-hd-full { width:100%; }
	.full-from-hd-full > * { width:100%; }
	.text-left-from-hd-full { text-align:left; }
	.text-centered-from-hd-full { text-align:center; }
}
@media only screen and (max-width : (@hd-full-step - 1px)) {
	// HD Ready
	.not-from-hd-ready { display:none; }
	.full-from-hd-ready { width:100%; }
	.full-from-hd-ready > * { width:100%; }
	.text-left-from-hd-ready { text-align:left; }
	.text-centered-from-hd-ready { text-align:center; }
}
@media only screen and (max-width : (@hd-ready-step - 1px)) {
	// Tablet landscape
	.not-from-tablet-landscape { display:none; }
	.full-from-tablet-landscape { width:100%; }
	.full-from-tablet-landscape > * { width:100%; }
	.text-left-from-tablet-landscape { text-align:left; }
	.text-centered-from-tablet-landscape { text-align:center; }
}
@media only screen and (max-width : (@tablet-landscape-step - 1px)) {
	// Tablet portrait
	.not-from-tablet-portrait { display:none; }
	.full-from-tablet-portrait { width:100%; }
	.full-from-tablet-portrait > * { width:100%; }
	.text-left-from-tablet-portrait { text-align:left; }
	.text-centered-from-tablet-portrait { text-align:center; }
	.not-hooked-from-tablet-landscape { position:static; }
}
@media only screen and (max-width : (@tablet-portrait-step - 1px)) {
	// Smartphone landscape
	.not-from-smartphone-landscape { display:none; }
	.full-from-smartphone-landscape { width:100%; }
	.full-from-smartphone-landscape > * { width:100%; }
	.text-left-from-smartphone-landscape { text-align:left; }
	.text-centered-from-smartphone-landscape { text-align:center; }
}
@media only screen and (max-width : (@smartphone-landscape-step - 1px)) {
	// Smartphone portrait
	.not-from-smartphone-portrait { display:none; }
	.full-from-smartphone-portrait { width:100%; }
	.full-from-smartphone-portrait > * { width:100%; }
	.text-left-from-smartphone-portrait { text-align:left; }
	.text-centered-from-smartphone-portrait { text-align:center; }
	.paginated-away {
		// the first child will have text-align to left and the last child will have text-align to right
		> * {
			&:last-child {
				text-align: left;
			}
		} 
	}
	nav a { display:block; width:100%; clear:both; }
}

// Media queries for selectors active from the smaller resolution to a specific one
@media only screen and (min-width : @hd-full-step) {
	// Full HD
	.not-to-hd-full { display:none; position: fixed; }
}
@media only screen and (max-width : (@hd-full-step - 1px)) {
	// HD Ready
	.not-to-hd-ready { display:none; position: fixed; }
}
@media only screen and (max-width : (@hd-ready-step - 1px)) {
	// Tablet landscape
	.not-to-tablet-landscape { display:none; position: fixed; }
}
@media only screen and (max-width : (@tablet-landscape-step - 1px)) {
	// Tablet portrait
	.not-to-tablet-portrait { display:none; position: fixed; }
}
@media only screen and (max-width : (@tablet-portrait-step - 1px)) {
	// Smartphone landscape
	.not-to-smartphone-landscape { display:none; position: fixed; }
}
@media only screen and (max-width : (@smartphone-landscape-step - 1px)) {
	// Smartphone portrait
	.not-to-smartphone-portrait { display:none; position: fixed; }
}


