<header class="large-steps">
    <div class="row home-header">
        <div class="hd-6-of-12 text-center">
            <img class="half fluid" src="img/theme/frontsize-bee.svg">
        </div>
        <div class="hd-6-of-12">
            <h1 class="title margin-bottom"><a href="#">Frontsize <span>2.0.0</span></a></h1>
            <h2 class="sub-title">A CSS front-end framework built to build<br>and ease your life.</h2>
            <div class="margin-top addthis_native_toolbox"></div>
        </div>
    </div>
</header>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52da689a6902ce0a"></script>

