<section id="about" class="text-center">
    <h4 class="block-title padded">About</h4>
    <div class="row">
        <div class="hd-4-of-12 vertical-line">
            <div class="avatar"
                 data-retina="https://avatars1.githubusercontent.com/u/461484?v=2&s=144"
                 style="background-image:url(https://avatars1.githubusercontent.com/u/461484?v=2&s=72);"></div>
            <p class="margin-top">
                Frontsize is written in LESS<br>
                by <a class="link capitalize" href="http://vittoriovittori.com">Vittorio Vittori</a>
            </p>
        </div>
        <div class="hd-4-of-12 vertical-line">
            <a class="ideato-logo" href="http://ideato.it" target="blank">
                <img class="margin-top" src="img/theme/ideato-logo.svg">
            </a>
            <p class="margin-top">
                Frontsize is sponsored<br>
                by <a class="link lowercase" href="http://ideato.it">Ideato Srl</a>
            </p>
        </div>
        <div class="hd-4-of-12">
            <div class="avatar"
                 data-retina="https://avatars2.githubusercontent.com/u/3356506?v=2&s=144"
                 style="background-image:url(https://avatars2.githubusercontent.com/u/3356506?v=2&s=72);"></div>
            <p class="margin-top">
                SASS conversion is written<br>
                by <a class="link capitalize" href="http://alessandrominoccheri.com">Alessandro Minoccheri</a>
            </p>
        </div>
    </div>
</section>

<script type="text/javascript" src="js/lib/densify.min.js"></script>
