<section class="row text-center">
    <div class="hd-6-of-12 vertical-line">
        <a class="less-logo" href="http://lesscss.org" target="blank"></a>
        <div class="dotto margin-vertical"></div>
        <a class="download-button less" href="#">Download</a>
        <br>
        <a href="#">Documentation</a>
        <div class="dotto margin-vertical"></div>
        <div id="less-repo"></div>
    </div>
    <div class="hd-6-of-12">
        <a class="sass-logo" href="http://lesscss.org" target="blank"></a>
        <div class="dotto margin-vertical"></div>
        <a class="download-button sass" href="#">Download</a>
        <br>
        <span class="disabled">Documentation</span>
        <div class="dotto margin-vertical"></div>
        <div id="sass-repo"></div>
    </div>
</section>
