<script type="text/javascript" src="js/lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/lib/handlebars-2.0.0.js"></script>

<script type="text/template" id="github-template">
<div class="github {{language}}">
    <strong class="margin-bottom">GitHub</strong>
    <div><b>commit</b> {{ hash }}</div>
    <div><b>when</b> {{ timeAgo }}</div>
    <div><b>who</b> {{ committer.name }}</div>
    <div><b>what</b> {{ message }}</div>
</div>
</script>

<script type="text/javascript">
$(function () {
    var gitTmpl = $("#github-template").html();

    function retrieveMaster ($selector, apiKey) {
        var repoUrl, apiUrl;
        repoUrl = "https://github.com/" + apiKey;
        apiUrl  = "https://api.github.com/repos/" + apiKey + "/git/refs/heads/master";
        $.ajax({
            type : "GET",
            url : apiUrl,
            contentType : "application/x-www-form-urlencoded",
            success : function (data) {
                retrieveLastRelease($selector, data, repoUrl, apiKey);
            },
            error : function () {
                console.log("error");
            }
        });
    }

    function retrieveLastRelease ($selector, data, repoUrl, apiKey) {
        var versionUrl, publishedAt, downloadUrl, tagName;
        versionUrl = "https://api.github.com/repos/" + apiKey + "/releases";
        $.ajax({
            type : "GET",
            url : versionUrl,
            contentType : "application/x-www-form-urlencoded",
            success : function (dataVersion) {
                publishedAt = dataVersion[0].published_at;
                downloadUrl = dataVersion[0].zipball_url;
                tagName = dataVersion[0].tag_name
                retrieveLastCommit($selector, data, repoUrl, apiKey, publishedAt, downloadUrl, tagName);
            },
            error : function () {
                console.log("error");
            }
        });
    }

    function retrieveLastCommit ($selector, masterData, repoUrl, repoUrlName, publishedAt, downloadUrl, tagName) {
        $.ajax({
            type : "GET",
            url : masterData.object.url,
            contentType : "application/x-www-form-urlencoded",
            success : function (data) {
                date = new Date(Date.parse(data.committer.date));
                data.timeAgo = relativeTime(data.committer.date);
                data.datetime = (date.getFullYear().toString() + "-" + ('0' + (date.getMonth()+1)).slice(-2).toString() + "-" + date.getDate().toString());
                data.hash = data.sha.substring(0,10);
                data.repoUrl = repoUrl;
                var template = Handlebars.compile(gitTmpl);
                console.log(data);
                $selector.html(template(data));
            },
            error : function () {
                console.log("error");
            }
        });
    }

    function relativeTime(date_str) {
        if (!date_str) {return;}
        date_str = $.trim(date_str);
        date_str = date_str.replace(/\.\d\d\d+/,""); // remove the milliseconds
        date_str = date_str.replace(/-/,"/").replace(/-/,"/"); //substitute - with /
        date_str = date_str.replace(/T/," ").replace(/Z/," UTC"); //remove T and substitute Z with UTC
        date_str = date_str.replace(/([\+\-]\d\d)\:?(\d\d)/," $1$2"); // +08:00 -> +0800
        var parsed_date = new Date(date_str);
        var relative_to = (arguments.length > 1) ? arguments[1] : new Date(); //defines relative to what ..default is now
        var delta = parseInt((relative_to.getTime()-parsed_date)/1000);
        delta=(delta<2)?2:delta;
        var r = '';
        if (delta < 60) {
            r = delta + ' seconds ago';
        } else if (delta < 120) {
            r = 'a minute ago';
        } else if (delta < (45*60)) {
            r = (parseInt(delta / 60, 10)).toString() + ' minutes ago';
        } else if (delta < (2*60*60)) {
            r = 'an hour ago';
        } else if (delta < (24*60*60)) {
            r = '' + (parseInt(delta / 3600, 10)).toString() + ' hours ago';
        } else if (delta < (48*60*60)) {
            r = 'a day ago';
        } else {
            r = (parseInt(delta / 86400, 10)).toString() + ' days ago';
        }
        return 'about ' + r;
    }

    retrieveMaster($("#less-repo"), "ideatosrl/frontsize-less");
    retrieveMaster($("#sass-repo"), "ideatosrl/frontsize-sass");
});
</script>



