<section id="download" class="row text-center">
    <div class="hd-6-of-12 vertical-line">
        <a class="less-logo" href="http://lesscss.org" target="blank"></a>
        <div class="dotto margin-vertical"></div>
        <a class="download-button less" href="https://github.com/ideatosrl/frontsize-less/archive/2.0.0.zip">Download</a>
        <br>
        <a href="https://github.com/ideatosrl/frontsize-less/wiki">Documentation</a>
        <div class="dotto margin-vertical"></div>
        <a href="https://github.com/ideatosrl/frontsize-less" class="github less">
            <strong class="block-title margin-bottom">GitHub</strong>
            <div><b>commit</b> 96d6013472</div>
            <div><b>when</b> 13 september 2014</div>
            <div><b>who</b> Vittorio Vittori</div>
            <div><b>what</b> Release 2.0.0</div>
        </a>
    </div>
    <div class="hd-6-of-12">
        <a class="sass-logo" href="http://sass-lang.com" target="blank"></a>
        <div class="dotto margin-vertical"></div>
        <a class="download-button sass" href="https://github.com/ideatosrl/frontsize-sass/archive/2.0.0.zip">Download</a>
        <br>
        <span class="disabled">Documentation</span>
        <div class="dotto margin-vertical"></div>
        <div href="https://github.com/ideatosrl/frontsize-sass" class="github sass">
            <strong class="block-title margin-bottom">GitHub</strong>
            <div><b>commit</b> 161e6b7371</div>
            <div><b>when</b> 13 september 2014</div>
            <div><b>who</b> Alessandro Minoccheri</div>
            <div><b>what</b> Release 2.0.0</div>
        </div>
    </div>
</section>
