.home-header {
    .title {
        color       : @colorGrey;
        line-height : (@global-step * 2);
        a span {
            color       : @colorGreyLight;
            font-weight : 300;
        }
    }

    .sub-title {
        font-size   : @font-size;
        font-weight : 300;
        color       : @font-color;
    }
}
