// The code element represents a fragment of computer code.
// This could be an XML element name, a filename, a computer program,
// or any other string that a computer would recognize.
//
// Url - http://html5doctor.com/element-index/#code

// The var element represents a variable.
// This could be an actual variable in a mathematical expression
// or programming context, or it could just be a term used
// as a placeholder in prose.
//
// Url - http://html5doctor.com/element-index/#var


code,
.code {
    overflow: scroll;
}

code,
.code,
var,
.var {
    font-family: @font-monospace;
    padding : 2px 6px;

    color: mix(@colorSass, white, 70%);

    border : 1px solid;
    .fallbackColor(border-color, fade(@colorSass, 10%), mix(@colorSass, white, 10%));
    //.fallbackColor(background-color, fade(@colorLess, 5%), mix(@colorLess, white, 5%));
    background-color: white;
    .border-radius(100px);
    .box-shadow(0 1px 0 rgba(255,255,255,0.2));

    &.code-black {
        background-color: #202020;
        text-shadow: none;
        color: white;
    }

    &.default, &.default + span {
        display: inline-block;
        padding : 0 6px;
    }

    &.default {
        .roundLeft(100px);
    }

    &.default + span {
        border : 1px solid;
        .fallbackColor(border-color, fade(@colorLess, 10%), mix(@colorLess, white, 10%));
        border-left : none;
        padding-right : 8px;
        .roundRight(100px);
        background-color: mix(@colorSass, white, 2%);
    }
}
