.tabs(@selectedColor:#7b8284, @selectedBackground:white, @defaultColor:#CCCCCC, @borderColor:#CCCCCC, @borderRadius:0.5em, @borderSize:1px) {
    overflow:auto;
    padding:@vertical-padding @horizontal-padding 0 @horizontal-padding;

    .bottom-line {
        position: relative;
        z-index: 0;
        top: -@borderSize;
        width: 100%;
        height: @borderSize;
        .box-sizing(border-box);

        border-top: @borderSize solid;
        .fallbackColor(border-color, @borderColor);
    }

    .tab {
        display:inline-block;
        position:relative;
        padding:(@vertical-padding/2) @horizontal-padding;
        cursor:pointer;

        list-style-type:none;

        border: @borderSize solid transparent;
        .fallbackColor(color, @defaultColor);

        .transition(color .25s ease-out, border-color .25s ease-out;);
        .border-radius(@borderRadius @borderRadius 0 0);

        &:hover {
            .fallbackColor(color, @selectedColor);
        }

        &.selected {
            z-index:1;
            .fallbackColor(color, @selectedColor);
            .fallbackColor(background-color, @selectedBackground);
            .fallbackColor(border-color, @borderColor);
            .fallbackColor(border-bottom-color, @selectedBackground);
        }
    }
}
