.message-status(@color:#de6646, @backgroundColor:desaturate(lighten(@color,30%),30%), @borderStyle:1px solid, @borderColor:rgba(0,0,0,0.015), @borderRadius:0.25em, @boxShadow:0 1px 3px rgba(0,0,0,0.075), @margin:0 0 @vertical-padding 0) {

    .box-sizing(border-box);

    width:100%;
    margin:@margin;
    padding:unit(@vertical-padding/2,em) @horizontal-padding;

    border: @borderStyle;
    .fallbackColor(border-color, @borderColor);

    .fallbackColor(color, @color);
    .fallbackColor(background-color, @backgroundColor);

    .border-radius(@borderRadius);
    .box-shadow(@boxShadow);
}

.message-status {
    .message-status();
}
