.block(@selector) {
    @b : ~".@{selector}";
}

.element(@selector) {
    @e : ~"@{b}__@{selector}";
}

.modifier(@selector) {
    @m : ~"--@{selector}";
}


// USAGE

/*
.block(block-selector); @{b} {

    .element(element-selector); @{e} {
        background-color: red;

        .modifier(modifier-selector); &@{m} {
            background-color: yellow;
        }
    }
}
*/
