.addMarginRule(@selector, @hdFullMargin:6em, @hdReadyMargin:5em, @tabletLandscapeMargin:4em, @tabletPortraitMargin:3em, @smartphoneLandscapeMargin:2em, @smartphonePortraitMargin:1em) {
    // Media queries for selectors active from a specific resolution or higher
    ._addMarginRule(@from-smartphone-portrait,  @selector, @smartphonePortraitMargin);
    ._addMarginRule(@from-smartphone-landscape, @selector, @smartphoneLandscapeMargin);
    ._addMarginRule(@from-tablet-portrait,      @selector, @tabletPortraitMargin);
    ._addMarginRule(@from-tablet-landscape,     @selector, @tabletLandscapeMargin);
    ._addMarginRule(@from-hd-ready,             @selector, @hdReadyMargin);
    ._addMarginRule(@from-hd-full,              @selector, @hdFullMargin);
}

._addMarginRule(@viewport, @selector, @margin) {
    @media @viewport {
        .@{selector} {
            margin : @margin;
        }
    }
}

.setViewportsMargin(@hdFullMargin:6em, @hdReadyMargin:5em, @tabletLandscapeMargin:4em, @tabletPortraitMargin:3em, @smartphoneLandscapeMargin:2em, @smartphonePortraitMargin:1em) {
    // Media queries for selectors active from a specific resolution or higher
    ._setViewportsMargin(@from-smartphone-portrait,  @smartphonePortraitMargin);
    ._setViewportsMargin(@from-smartphone-landscape, @smartphoneLandscapeMargin);
    ._setViewportsMargin(@from-tablet-portrait,      @tabletPortraitMargin);
    ._setViewportsMargin(@from-tablet-landscape,     @tabletLandscapeMargin);
    ._setViewportsMargin(@from-hd-ready,             @hdReadyMargin);
    ._setViewportsMargin(@from-hd-full,              @hdFullMargin);
}

._setViewportsMargin(@viewport, @margin) {
    @media @viewport {
        margin : @margin;
    }
}


.addMarginSelector(@selector:false, @verticalMargin:@vertical-margin, @horizontalMargin:@horizontal-margin) when not (@selector = false) {
    .@{selector}-margin {
        margin: @verticalMargin @horizontalMargin @important;
    }
    .@{selector}-margin-vertical {
        margin-bottom: @verticalMargin @important;
        margin-top: @verticalMargin @important;
    }
    .@{selector}-margin-bottom {
        margin-bottom: @verticalMargin @important;
    }
    .@{selector}-margin-top {
        margin-top: @verticalMargin @important;
    }
    .@{selector}-margin-horizontal {
        margin-left: @horizontalMargin @important;
        margin-right: @horizontalMargin @important;
    }
    .@{selector}-margin-left {
        margin-left: @horizontalMargin @important;
    }
    .@{selector}-margin-right {
        margin-right: @horizontalMargin @important;
    }
}.addMarginSelector(@selector:false, @verticalMargin:@vertical-margin, @horizontalMargin:@horizontal-margin) when (@selector = false) {
    .with-margin {
        margin: @verticalMargin @horizontalMargin @important;
    }
    .margin-vertical {
        margin-bottom: @verticalMargin @important;
        margin-top: @verticalMargin @important;
    }
    .margin-bottom {
        margin-bottom: @verticalMargin @important;
    }
    .margin-top {
        margin-top: @verticalMargin @important;
    }
    .margin-horizontal {
        margin-left: @horizontalMargin @important;
        margin-right: @horizontalMargin @important;
    }
    .margin-left {
        margin-left: @horizontalMargin @important;
    }
    .margin-right {
        margin-right: @horizontalMargin @important;
    }
}
