<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:url" content="http://ideatosrl.github.io/frontsize-less/index.html">
        <meta property="og:site_name" content="frontsize.com">
        <meta property="og:title" content="Frontsize">
        <meta property="og:description" content="A CSS generator framework built to build a professional front-end and ease your life.">
        <meta property="og:image" content="http://ideatosrl.github.io/frontsize-less/img/theme/frontsize-social.jpg">

        <meta name="description" content="A CSS generator framework built to build a professional front-end and ease your life.">
        <meta name="keywords" content="CSS, framework, frontsize, front-end, frontend, web development, cascade style sheet">
        <meta name="author" content="Vittorio Vittori and Alessandro Minoccheri">

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/css/frontsize.min.css" media="screen" />
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Frontsize by ideato srl - {{ page.title }}</title>
    </head>

  <body>

        {% include docs/main-nav.html %}

        <main class="docs-container large-steps margin-bottom">
            {% include docs/2.0.0/nav.html %}
            <section class="with-padding">
                {{ content }}
            </section>
        </main>

        <div class="use-steps padding-top margin-top">
            {% include homepage/releases.html %}
        </div>

        <footer class="use-steps">
            {% include homepage/about.html %}
        </footer>
    </body>
</html>
