
// ========================================================================================================================================================================
// ==                                   ===================================================================================================================================
// ==               THEME               ===================================================================================================================================
// ==            CUSTOM VARS            ===================================================================================================================================
// ==                                   ===================================================================================================================================
// ========================================================================================================================================================================

@colorGreyLightUltra : #EAEAEA;
@colorGreyLight      : #B2B2B2;
@colorGreyMedium     : @font-color;
@colorGrey           : #666666;
@colorIvory          : #FFFDF3;

@colorLess : #2B4F84;
@colorSass : #CC6699;
